   <footer class="unidata">

    <div id="content-footer">
     <h2>NSF Unidata Support</h2>
     <ul>
      <li>NSF Unidata provides free technical support to our community members. For more information, please see our <a href="https://support.unidata.ucar.edu/conditions-of-support/">Conditions Of Support</a>.</li>
      <li>Visit: <a href="https://support.unidata.ucar.edu/">NSF Unidata Support </a></li>
      <li>Email: <a href="mailto:support@unidata.ucar.edu">support@unidata.ucar.edu</a></li>
      <li>Report a security issue/vulnerability: <a href="mailto:security@unidata.ucar.edu">security@unidata.ucar.edu</a></li>
     </ul>
    </div> <!-- /#content-footer -->

    <div id="legal-footer">
     <ul>
      <li>&#169; NSF Unidata</li>
      <li><a href="https://support.unidata.ucar.edu/conditions-of-support">Conditions of Support</a></li>
      <li><a href="https://www.unidata.ucar.edu/legal/participation.html">Participation Policy</a></li>
      <li><a href="https://www.ucar.edu/privacy-policy">Privacy Policy</a></li>
      <li><a href="https://www.ucar.edu/terms-of-use">Terms of Use</a></li>
      <li><a href="https://www.ucar.edu/accessibility">Accessibility</a></li>
     </ul>
    </div> <!-- /#legal-footer -->

    <div id="nsf-footer">
     <a href="https://www.nsf.gov" class="logo">
      <img src="assets/images/nsf_logo_transparent.png" alt="U.S. National Science Foundation"/>
     </a>
     <div>
      NSF Unidata is a member of the
      <a href="https://www.ucp.ucar.edu/">UCAR Community Programs</a>,
      managed by the
      <a href="https://www.ucar.edu">University Corporation for Atmospheric Research</a>,
      and funded by the
      <a href="https://www.nsf.gov">U.S. National Science Foundation</a>.
     </div>
    </div> <!-- /#nsf-footer -->

   </footer>