{% assign sidebar = site.data.sidebars[page.sidebar].entries %}

<ul id="mysidebar" class="nav">
  <!-- figure out title for sidebar
     sidebar[0].product -> sidebar[0].title -> site.site_title -> empty
       (sidebar yaml)       (sidebar yaml)     (_config.yaml)
    -->
  {% if sidebar[0].product %}
  {% assign sidebar_title = sidebar[0].product %}
  {% elsif sidebar[0].title %}
  {% assign sidebar_title = sidebar[0].title %}
  {% elsif site.site_title %}
  {% assign sidebar_title = site.site_title %}
  {% else %}
  {% assign sidebar_title = false %}
  {% endif %}

  <!-- figure out title for sidebar
   sidebar[0].version -> site.docset_version -> empty
     (sidebar yaml)        (_config.yaml)
    -->
  {% if sidebar[0].version %}
  {% assign sidebar_version = sidebar[0].version %}
  {% elsif site.docset_version %}
  {% assign sidebar_version = site.docset_version %}
  {% else %}
  {% assign sidebar_version = false %}
  {% endif %}

  {% if sidebar[0].sidebar_url %}
  {% assign sidebar_url = sidebar[0].sidebar_url %}
  {% else %}
  {% assign sidebar_url = "index.html" %}
  {% endif %}

  <!-- Both sidebar_title and sidebar_version defined -->
  {% if sidebar_title and sidebar_version %}
  <li class="sidebarTitle"><a href="{{sidebar_url}}">{{sidebar_title}} {{sidebar_version}}</a></li>
  <!-- Only sidebar_title defined -->
  {% elsif sidebar_title %}
  <li class="sidebarTitle"><a href="{{sidebar_url}}">{{sidebar_title}}</a></li>
  <!-- Only sidebar_version defined -->
  {% elsif sidebar_version %}
  <li class="sidebarTitle"><a href="{{sidebar_url}}">{{sidebar_version}}</a></li>
  <!-- Untitled sidebar -->
  {% else %}
  <li class="sidebarTitle"><a href="{{sidebar_url}}">Untitled Sidebar</a></li>
  {% endif %}

  {% for entry in sidebar %}
  {% for folder in entry.folders %}
  {% if folder.output contains "web" %}
  <li>
      <a title="{{folder.title}}" href="#">{{folder.title}}</a>
      <ul>
          {% for folderitem in folder.folderitems %}
          {% if folderitem.output contains "web" %}
          {% if folderitem.external_url %}
          <li><a title="{{folderitem.title}}" href="{{folderitem.external_url}}" target="_blank" rel="noopener">{{folderitem.title}}</a></li>
          {% elsif page.url == folderitem.url %}
          <li class="active"><a title="{{folderitem.title}}" href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
          {% elsif folderitem.type == "empty" %}
          <li><a title="{{folderitem.title}}" href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>

          {% else %}
          <li><a title="{{folderitem.title}}" href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
          {% endif %}
          {% for subfolders in folderitem.subfolders %}
          {% if subfolders.output contains "web" %}
          <li class="subfolders">
              <a title="{{subfolders.title}}" href="#">{{ subfolders.title }}</a>
              <ul>
                  {% for subfolderitem in subfolders.subfolderitems %}
                  {% if subfolderitem.output contains "web" %}
                  {% if subfolderitem.external_url %}
                  <li><a title="{{subfolderitem.title}}" href="{{subfolderitem.external_url}}" target="_blank" rel="noopener">{{subfolderitem.title}}</a></li>
                  {% elsif page.url == subfolderitem.url %}
                  <li class="active"><a title="{{subfolderitem.title}}" href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                  {% else %}
                  <li><a title="{{subfolderitem.title}}" href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
              </ul>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
      </ul>
   </li>
     {% endif %}
      {% endfor %}
      {% endfor %}
      <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
